- if hook_logs.present?
  %table.table
    %thead
      %tr
        %th= _('Status')
        %th.d-none.d-sm-table-cell= _('Trigger')
        %th= _('URL')
        %th= _('Elapsed time')
        %th= _('Request time')
        %th
    - hook_logs.each do |hook_log|
      %tr
        %td
          = render partial: 'shared/hook_logs/status_label', locals: { hook_log: hook_log }
        %td.d-none.d-sm-table-cell
          %span.badge.badge-gray.deploy-project-label
            = hook_log.trigger.singularize.titleize
        %td
          = truncate(hook_log.url, length: 50)
        %td
          #{number_with_precision(hook_log.execution_duration, precision: 2)} sec
        %td
          = time_ago_with_tooltip(hook_log.created_at)
        %td
          = link_to _('View details'), hook_log_path(hook, hook_log)

  = paginate hook_logs, theme: 'gitlab'

- else
  .settings-message.text-center
    = _("You don't have any webhooks deliveries")
